/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/

body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.project-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.project-filter button {
  font-family: "Syne";
  border: 1px solid #1d6154;
  /* min-width: 75px;
  max-width: 200px; */
  box-sizing: border-box;
  /* width: fit-content; */
  color: #1d6154;
  background-color: white;
  border-radius: 30px;
  padding: 7px 6px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}

/* .project-filter button.small-btn {
  min-width: 100px;
}

.project-filter button.large-btn {
  min-width: 150px;
} */

.project-filter button.active-btn {
  color: white;
  background-color: #1d6154;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/****************ADMIN LOGGED IN STYLES****************/
.edit-notice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* width: 100vw; */
  margin-top: 0px;
  gap: 15px;
  color: white;
  background-color: black;
}

.project-section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#portfolio > .project-section-title > h2 {
  margin-bottom: 0;
}

.project-section-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.project-section-button > button {
  border: none;
  background-color: white;
}

.project-section-button > button:hover {
  cursor: pointer;
}

/***************LOGIN STYLES***************/
.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
  gap: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.login-div > label {
  /* font-family: "Syne"; */
  font-weight: normal;
}

.login-div > input {
  width: 300px;
  height: 35px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.login-form > button {
  width: 100px;
  height: 35px;
  font-family: "Syne";
  border-radius: 30px;
  border: none;
  background-color: #1d6154;
  color: white;
}

.login-form > button:hover {
  cursor: pointer;
}

.login-error {
  color: red;
  visibility: hidden;
}

/***************MODAL STYLES**************/
.modal {
  position: fixed;
  width: 550px;
  height: 600px;
  border: 1px solid black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  padding: 35px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.modal-nav-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 6%;
  align-items: center;
}

i.fa-arrow-left:hover {
  cursor: pointer;
}

i.fa-xmark:hover {
  cursor: pointer;
}

.modal-nav-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6%;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 35px;
  align-items: center;
  height: 94%;
}

.modal p {
  align-self: center;
  font-size: x-large;
  /* height: 10%; */
}

.modal-projects {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 75px);
  row-gap: 20px;
  justify-content: space-between;
  height: 80%;
  overflow: auto;
}

.modal-image-container {
  width: 75px;
  height: 100px;
  position: relative;
}

.trash-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 20%;
  top: 4%;
  right: 4%;
  color: white;
  background-color: black;
  /* change color to white */
}

.trash-icon:hover {
  cursor: pointer;
}

.modal-image {
  width: 75px;
  height: 100px;
}

.modal-bottom-button {
  width: 175px;
  height: 30px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #1d6154;
}

.modal-bottom-button:hover {
  cursor: pointer;
}

.modal-button-disabled {
  width: 175px;
  height: 30px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #808080;
}

.modal-form {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  /* might need to change this once I get the file input up */
  justify-content: space-between;
  align-items: center;
}

.modal-file-container {
  background-color: #e8f1f6;
  height: 175px;
  width: 100%;
}

.modal-upload-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal-upload-container p {
  font-size: smaller;
}

.modal-upload-container label {
  color: #2a6db4;
  background-color: #b5bfc4;
  padding: 8px 30px;
  border-radius: 15px;
}

.modal-upload-container label:hover {
  cursor: pointer;
}

.modal-upload-container label,
.modal-input-container label,
.modal-category-container label {
  font-size: medium;
}

/* #e8f1f6 */
.image-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b5bfc4;
}

.modal-preview-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-preview-container > .preview-image {
  height: 100%;
  width: 150px;
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.modal-input-container > input,
.modal-input-container > select {
  width: 100%;
  height: 35px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.modal-content button {
  margin: 0 10px;
  /* height: 10%; */
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(3px); */
  z-index: 1;
}

.hidden {
  display: none;
}
